body{
    background-color: rgb(54, 132, 221);
}
h3{
    color: white;
}

label{
    color: white;
}

button{
background-color: blue;
color: white;
}

#mostrar{
    background-color: brown;
    color: white;
}